<!-- realTimeProducts.handlebars -->
<h2>Lista de Productos en Tiempo Real</h2>

<ul id="productList">
  {{#each products}}
    <li>{{this.name}} - ${{this.price}}</li>
  {{/each}}
</ul>

<form id="productForm">
  Nombre: <input type="text" name="name">
  Imagen: <input type="text" name="image">
  Descripcion: <input type="text" name="description">
  Precio: <input type="number" name="price">
  Status: <input type="text" name="status">
  Stock: <input type="number" name="stock">
  <button type="submit">Agregar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  document.getElementById('productForm').onsubmit = (e) => {
    e.preventDefault();

    const name = document.querySelector('input[name=name]').value;
    const price = parseInt(document.querySelector('input[name=price]').value);

    const product = { name, price };
    socket.emit('new-product', product);
  };

  socket.on('connected', () => {
    console.log('Cliente conectado');
  });

  socket.on('reload-list', (products) => {
    const productList = document.getElementById('productList');
    productList.innerHTML = '';

    products.forEach((product) => {
      const li = document.createElement('li');
      li.textContent = `${name} - $${price}`;
      productList.appendChild(li);
    });
  });
</script>
